<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coach Dashboard</title>
    <style>
        /* Adjust button position */
        button {
            margin-right: 50px; /* Change as needed */
        }
    </style>
</head>
<body>
    <h1>{{ message }}</h1>
    {% if success_message %}
    <p>{{ success_message }}</p>
    {% endif %}
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    <a href="{% url 'delete_session' %}"><button>Delete Match Session</button></a>
    <a href="{% url 'list_stadium' %}"><button>List Stadiums</button></a>
    <a href="{% url 'add_new_session' %}"><button>Add New Session</button></a>
    <a href="{% url 'squad' %}"><button>Create Squad</button></a>
    <a href="{% url 'login' %}"><button>Logout</button></a>
    

</body>
</html>
